<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>613180324118-5g111gmins25907u6ep9lk9chfup8929.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.613180324118-5g111gmins25907u6ep9lk9chfup8929</string>
	<key>API_KEY</key>
	<string>AIzaSyBF2-vSXdLO8krcvDaOBLYgBiHS153_KA0</string>
	<key>GCM_SENDER_ID</key>
	<string>613180324118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vidyoo</string>
	<key>PROJECT_ID</key>
	<string>lifelist-439718</string>
	<key>STORAGE_BUCKET</key>
	<string>lifelist-439718.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:613180324118:ios:0d3235c2f0ff97a375b837</string>
</dict>
</plist>